<section class="max-w-[900px] mx-auto my-12 px-4 py-8 bg-secondary rounded-lg shadow-md">
  <h2 class="article-title mb-8 text-primary">Bibliography</h2>
  <ul class="list-disc pl-5 text-primary text-lg">
    <li>
      European Parliament. (n.d.). Circular economy: Definition, importance and benefits.
      <a href="https://www.europarl.europa.eu/topics/en/article/20151201STO05603/circular-economy-definition-importance-and-benefits" target="_blank" rel="noopener" class="text-tertiary underline hover:text-accent">[link]</a>
    </li>
    <li>
      Repsol. (n.d.). Circular economy.
      <a href="https://www.repsol.com/en/sustainability/sustainability-pillars/environment/circular-economy/index.cshtml" target="_blank" rel="noopener" class="text-tertiary underline hover:text-accent">[link]</a>
    </li>
    <li>
      Journal Review. (2024, April 19). Embracing a circular economy.
      <a href="https://www.journalreview.com/stories/embracing-a-circular-economy,339591?" target="_blank" rel="noopener" class="text-tertiary underline hover:text-accent">[link]</a>
    </li>
    <li>
      U.S. Environmental Protection Agency. (n.d.). What is a circular economy?
      <a href="https://www.epa.gov/circulareconomy/what-circular-economy" target="_blank" rel="noopener" class="text-tertiary underline hover:text-accent">[link]</a>
    </li>
  </ul>
</section>